@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('https://fonts.gstatic.com/s/ptsans/v8/FUDHvzEKSJww3kCxuiAo2A.ttf') format('truetype');
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}
p {
  font-size: 13px;
}
small {
  font-size: 12px;
}
.grey {
  color: grey;
}
#results {
  margin: 20px 60px;
}